@media (min-width:320px) and (max-width:991px){
    #header-mdl ul li a{
        font-size: 22px;
        color: var(--gren-gray-scale-800);

    }
    #header-mdl ul li{
        padding: 0 7px;
        border-right: 1px solid var(--gren-gray-scale-200) ;
    }

#hero .bannerSmail .banner {
    margin-top: 24px;
}
 
#populer .headingLeft h1{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--gray-scale-gray-–-900);
}

}

